@tailwind base;

@layer base {
    body {
        @apply text-gray-900 dark:text-gray-100;
        @apply bg-gray-100 dark:bg-gray-900 bg-blend-multiply;
        @apply transition duration-100;
        @apply py-4;
        @apply flex flex-col items-stretch gap-2;
        @apply w-screen;

        background-image: url('/img/bg-grain.png');
    }

    nav.main-nav {
        @apply p-2;
        @apply flex flex-row items-center justify-center gap-4;
        @apply z-route40;

        &,
        & * {
            @apply transition-all;
        }

        & h1 {
            @apply text-3xl tablet:text-5xl font-thin font-display;
        }

        &.minimized {
            & h1 {
                @apply text-xl tablet:text-2xl;
            }
        }
    }
}
