@tailwind components;

@layer components {
    /* elements */
    .box {
        @apply bg-white-alpha-500 dark:bg-white-alpha-100 filter backdrop-blur-2xl;
        @apply shadow-2xl;
        @apply transition;

        transition-property: background-color, border-color, fill, stroke, opacity, box-shadow, transform;
    }

    .ornament {
        @apply relative grid place-items-center shrink-0 grow-0;
        @apply rounded-full overflow-hidden bg-transparent;
        @apply transition duration-200;
        @apply bg-white focus:bg-blue-200 hover:bg-blue-300  active:bg-blue-400;
        @apply dark:bg-gray-700 dark:focus:bg-blue-800 dark:hover:bg-blue-700  dark:active:bg-blue-600;
        @apply shadow-md hover:shadow-lg active:shadow;
        @apply hover:scale-110 active:scale-95;

        &.render-outlet {
            @apply w-auto h-auto rounded-none !important;
        }

        &.sm {
            @apply w-8 h-8;
        }

        &.md {
            @apply w-12 h-12;
        }

        &.lg {
            @apply w-16 h-16;
        }

        &.spinning {
            @apply animate-spin;
        }

        & img {
            @apply w-full h-full object-cover rounded-full overflow-hidden;
            @apply select-none pointer-events-none border-none;
        }
    }

    a.link {
        @apply underline underline-offset-4 text-blue-500;
    }

    /* form */

    .button {
        @apply py-2 px-5 text-base font-black rounded-lg;
        @apply bg-accent-600 dark:bg-blue-600 disabled:bg-gray-500;
        @apply border-b-4 border-black-alpha-600 dark:border-white-alpha-500;
        @apply text-white;
        @apply transition duration-200;
        @apply shadow-lg hover:shadow-xl active:shadow-blue-500 active:shadow-lg;
        @apply hover:scale-105 active:scale-95;
        @apply bg-repeat bg-blend-multiply;
        @apply disabled:pointer-events-none disabled:cursor-not-allowed;

        background-image: url('/img/button-bg/checkerboard-cross.png');
    }

    input.text-input,
    textarea.text-input {
        @apply p-2 shrink-0;
        @apply rounded-xl shadow-inner shadow-black-alpha-300 bg-white-alpha-500 dark:bg-black-alpha-500;
        @apply border border-black-alpha-200;
        @apply placeholder:font-thin placeholder:italic;

        min-height: 2rem;
    }

    select.dropdown {
        @apply p-2 shrink-0;
        @apply rounded-xl shadow-inner shadow-black-alpha-300 bg-white-alpha-500 dark:bg-black-alpha-500;
        @apply border border-black-alpha-200;
        @apply placeholder:font-thin placeholder:italic;

        min-height: 2rem;
    }

    label,
    legend {
        @apply font-semibold;
    }

    /* pages */

    /* all projects page */
    .projects-container {
        @apply w-full pt-8 pb-20;
        @apply flex flex-row gap-6 desktop:gap-16 items-center;
        @apply overflow-x-auto shrink-0 snap-mandatory snap-x;

        &::before,
        &::after {
            content: ' ';

            @apply w-32 tablet:w-64 desktop:w-1/4 h-px shrink-0 grow;
        }
    }

    .project-card {
        @apply relative shrink-0;
        @apply flex flex-col items-center gap-2;
        @apply snap-center;

        & > a {
            @apply box p-4 tablet:p-8 w-full flex flex-col items-center gap-4;
            @apply rounded-b-lg rounded-t-3xl;
            @apply shadow-md hover:shadow-lg;
            @apply ring-2 ring-transparent hover:ring-black-alpha-100;
        }

        & img.poster {
            @apply w-48 h-48 tablet:w-64 tablet:h-64 object-cover border-b shadow select-none pointer-events-none;
        }

        & h4 {
            @apply text-2xl px-4 font-bold font-display;
        }
    }

    /* a project page */

    .block {
        @apply shadow-md rounded-xl overflow-hidden relative;

        &.width-sm {
            @apply w-20 tablet:w-48;
        }
        &.width-md {
            @apply w-32 tablet:w-96;
        }
        &.width-lg {
            @apply w-48 tablet:w-128;
        }
        &.width-cover {
            @apply w-full;
        }
        &.height-sm {
            @apply h-20 tablet:h-48;
        }
        &.height-md {
            @apply h-32 tablet:h-96;
        }
        &.height-lg {
            @apply h-48 tablet:h-128;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
