@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black dark:text-white;
    @apply transition;
    @apply p-4 tablet:px-8 desktop:px-12;
    @apply flex flex-col items-stretch gap-2;
    @apply w-screen h-screen;
}

canvas.orb-canvas {
    @apply z-behind h-full w-full;
    @apply absolute top-0 left-0;
    @apply bg-gray-200 dark:bg-blue-900 dark:bg-opacity-50 bg-blend-color transition-colors;

    transition-property: background-color;
    background: url('/img/bg-gradient.jpg');
    background-position: bottom;
    background-size: cover;
}

@layer components {
    .button {
        @apply p-1 text-base rounded-lg;
        @apply ring-1 ring-transparent;
        @apply bg-white-alpha-500 dark:bg-black-alpha-600;
        @apply box-border border-2 border-black-alpha-200;
        @apply transition duration-200;
        @apply shadow-sm;
        @apply hover:scale-110 hover:shadow-lg;
        @apply active:shadow-blue-500 active:shadow-lg active:scale-90;
    }

    .box {
        @apply bg-white-alpha-500 dark:bg-black-alpha-600 filter backdrop-blur-xl;
        @apply rounded-3xl;
        @apply shadow-2xl;
        @apply transition;

        transition-property: background-color, border-color, fill, stroke, opacity, box-shadow, transform;
    }

    nav.main-nav {
        @apply box;
        @apply w-full flex justify-between items-center rounded-full p-3 pr-6;
    }
}